* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-primary);
  font-size: 100%;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body {
  padding: 0 2vmin;
}

body,
section {
  overflow-x: hidden;
}

section {
  padding: 10px 0;
}

* button,
* a {
  transition: 0.4s;
  cursor: pointer;
}

h3 {
  font-size: var(--H3-size);
  font-weight: var(--H3-weight);
  line-height: var(--H3-line-height);
  color: var(--color-primary);
}

h4 {
  font-size: var(--H4-size);
  font-weight: var(--H4-weight);
  line-height: var(--H4-line-height);
  color: var(--color-third);
}

h2 {
  font-size: var(--H2-size);
  font-weight: var(--H2-weight);
  line-height: var(--H2-line-height);
  color: var(--color-secondary);
}

// responsive font sizes
@media (min-width: 640px) {
  body {
    font-size: 1rem;
  }
}
@media (min-width: 960px) {
  body {
    font-size: 1.2rem;
  }
}
@media (min-width: 1100px) {
  body {
    font-size: 1.5rem;
  }
}
