@use "reusable" as *;
@use "variables" as *;
@use "basicSetup" as *;

/* Buttons*/
.btn {
  padding: 16px 58.5px;
  color: white;
  border-radius: 30px;
}

.filled {
  background-color: var(--color-primary);
  border: none;
  margin-right: em(20);

  &:hover,
  &:focus {
    background-color: var(--color-primary-hover);
  }
}

.clear {
  border: 1px white solid;
  background-color: rgba(255, 255, 255, 0);
  &:hover,
  &:focus {
    background-color: var(--color-primary-hover);
  }
}
